<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.xingin.xhs" />
        <package android:name="com.kiwibrowser.browser" />
        <package android:name="com.android.chrome" />
        <package android:name="org.telegram.messenger" />
        <package android:name="org.telegram.messenger.web" />
        <package android:name="org.telegram.messenger.beta" />
        <package android:name="org.telegram.plus" />
        <package android:name="com.exteragram.messenger" />
        <package android:name="com.radolyn.ayugram" />
        <package android:name="uz.unnarsx.cherrygram" />
        <package android:name="xyz.nextalone.nagram" />
        <package android:name="nu.gpu.nagram" />
        <package android:name="com.xtaolabs.pagergram" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="MissingApplicationIcon">
        <activity
            android:name=".SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="test" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />
    </application>

</manifest>